@font-face {
  font-family: lato;
  src: url("../fonts/Lato-Regular.ttf");
}

@font-face {
  font-family: Bebas;
  src: url("../fonts/BebasNeue.otf");
}

@font-face {
  font-family: Neuzeit;
  src: url("../fonts/Neuzeit_S_LT_Book.ttf");
}

@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -100%; }
95% { left: -100%; }
100% { left: 0%; }
}

header#slider {
  overflow: hidden;
  height: 620px;
}

header#slider figure img {
  width: 20%;
  float: left;
}
header#slider figure {
  position: absolute;
  width: 500%;
  margin: 0;
  z-index: -1;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 15s slidy infinite;

}

body {
  box-sixing: border-box;
  font-family: Neuzeit;
  font-size: 14px;
  margin: 0 auto;
  color: #000;
}

header {
  margin: auto;
  width: 100%;
  text-align: center;
  height: 620px;
  /*background: url('../images/ref1.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;*/
}

.top {
  width: 100%;
  margin: auto;
  position: fixed;
  height: 70px;
  display: none;
  background-color: #fff;
  box-shadow: 0px -1px 8px 2px #ccc;
}

#nav {
  float: left;
}

#nav ul {
  list-style-type: none;
  display: inline-block!important;
  width: 300px;
  margin: 0 auto;
}

#nav li {
  float: none;
  display: inline-block!important;
  margin: 13px;
}

#nav li::after {
  content: url('../images/chev2.png');
  position: absolute;
  color: #000;
  padding-left: 3px;
}

#nav li:hover::after {
  transform: rotate(180deg);
  margin-left: 4px;
  margin-bottom: 9px;
}

#icons {
  float: right;
  width: 200px;
  margin: 20px auto;
  display: inline-block;
}

#icons img {
  float: none;
  display: inline-block5
  padding: 3px;
}

h1 {
  text-align: center;
  font-family: Bebas;
  margin: 15px auto;
  font-size: 36px;
  display: inline-block;
  margin-right: 135px;
}

h3 {
  font-family: lato!important;
  font-weight: bold!important;
}

a {
  text-decoration: none;
  color: inherit;
}

.main {
  margin: auto;
  width: 75%;
  margin-left: 14%;
  height: 100%;
  margin-top: 200px;
  margin-bottom: 250px!important;
}

#center {
  font-weight: 600;
  font-family: lato;
  text-align: center;
  margin: 45px auto;
}

#features {
  list-style-type: none;
  font-size: 13px;
  letter-spacing: .5px;
  line-height: 22px;
}

.main {
  color: #292929;
}

.main p {
  font-size: 12px;
}

#features li {
  margin: 10px;
}

button {
  box-shadow: none;
  border-radius: 0px;
  border: 1px solid #000;
  padding: 10px;
  font-size: 13px;
  letter-spacing: .5px;
  text-align: center;
  width: 190px;
  margin-top: 30px;
  background-color: #fff;
}

button:hover {
  color: #999;
  border: 1px solid #ccc;
  cursor: pointer;
}

.left {
  float: left;
  width: 50%:
  display: inline-block;
}

.right {
  float: right;
  width: 500px;
  display: inline-block;
}

#fab {
  width: 90%;
}

.infogra {
  display: block;
  margin-bottom: 40px;
  clear: both;
}

#one, #two, #three {
  display: inline-block;
  text-align: center;
  line-height: .5%;
  font-size: 12px;
}

#one, #two {
  padding-right: 25px;
}

#three, #two {
  padding-left: 25px;
}

.ico {
  width: 30px;
  margin: 10px auto;
}

footer {
  /*padding: 45px;*/
  width: 100%;
  padding-bottom: 15px;
  bottom: 0px;
  left: 0px;
  letter-spacing: 1px;
  word-spacing: 2px;
  height: 130px;
  margin: 0 auto;
  position: fixed;
  background-color: #F3F3F3;
}

#ftmain {
  width: 78%;
  padding-top: 30px!important;
  margin: 0 auto;
}

footer p {
  word-spacing: 0px;
}

#footleft {
  width: 40%;
  margin: 0 auto;
  float: left;
  margin-left: 30px;
}

#footright {
  float: right;
  display: inline-block;
  width: 35%;
}

#price {
  font-weight: 100;
  font-family: avenir;
}

.name h3{
  letter-spacing: 2px!important;
}

#red {
  position: absolute;
  top:0px;
}

#buy {
  background-color: #000;
  color: #fff;
  font-weight: bold;
  font-size: 15px;
  font-family: lato;
  margin: 15px;
  border: 1px solid #000;
}

#buy:hover {
  background-color: #ccc;
  border: 1px solid #ccc;
}

td {
  display: table-cell;
}

#ones, #twos, #threes {
  width: 400px;
  height: 150px;
  display: none;
  position: absolute;
  left: 165px!important;
  line-height: 140%;
  padding-top: 10px;
  padding-bottom: 50px;
}

#one:hover {
  cursor: pointer;
  color: #999;
}

#one:hover + #ones {
  display: table-caption;
  margin-bottom: 20px;

}

#two:hover {
  cursor: pointer;
  color: #999;
}

#two:hover + #twos {
  display: table-caption;
  margin-bottom: 20px;
}

#three:hover {
  cursor: pointer;
  color: #999;
}

#three:hover + #threes {
  display: block;
  margin-bottom: 20px;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 10px;
  border: none;
  box-shadow: none;
  font-size: 13px;
  font-family: Neuzeit;
  letter-spacing: 1px;
  cursor: pointer;
  text-align: center;
}

select:focus {
  outline: none;
}

#also {
  margin: auto;
  width: 100%;
  bottom: 150px!important;
}

#oh {
  text-align: center;
}

#imgleft {
  float: left;
}

#imgleft img {
  width: 450px;
  margin: 10px;
  display: block;
}

#imgleft p {
  display: block;
  text-align: center;
  line-height: 140%;
}

#imgright {
  float: right;
  margin: 10px;
  display: block;
}

#imgright img {
  width: 450px;
}

#imgright p {
  display: block;
  text-align: center;
  line-height: 140%;
}
